.chat {
  background: blue;
  margin-top: 6rem;

  &__title,
  &__user,
  &__post {
    width: 70vw;
    background: green;
    margin: 0 auto;
  }

  &__title--content {
    display: flex;
    justify-content: space-between;
    align-items: center;

    padding: 1.2rem 1rem;

    h2 {
      font-size: 28px;
    }
    a {
      text-decoration: none;
      color: #000;
      font-size: 18px;
    }
  }

  // chat user messages
  &__user {
    display: flex;
    padding-bottom: 1.5rem;

    &--detail {
      padding-left: 1rem;
      width: 13rem;
      //   background-color: yellow;

      h3 {
        font-size: large;
      }

      h2 {
        font-size: medium;
        padding-left: 6px;
        font-weight: bold;
      }

      ul {
        list-style: none;
        padding-left: 6px;
      }
    }

    &--message {
      background-color: yellow;
      width: 100%;
      padding-left: 1rem;

      ul {
        list-style: none;

        li {
          background-color: lightblue;
          margin: 6px 0;
          width: max-content;
          padding: 0 6px;
          border-radius: 3px;
        }
      }
    }
  }

  // chat user posts

  &__post {
    display: flex;
    padding-bottom: 1rem;

    form {
      width: 88%;
      padding-left: 1rem;
    }
    input[type="text"] {
      width: 100%;
    }

    .btn--user {
      padding: 0 1.2rem;
    }
  }
}
